view/__pycache__/index.cpython-39.pyc
connection/__pycache__/connection.cpython-39.pyc
models/__pycache__/cargar_datos.cpython-39.pyc
view/__pycache__/insertar.cpython-39.pyc
main.py
__pycache__/InsertarController.cpython-39.pyc
__pycache__/main.cpython-39.pyc
controller/__pycache__/InsertarController.cpython-39.pyc
controller/__pycache__/FrecuenciasController.cpython-39.pyc
.gitignore
view/__pycache__/frecuencias.cpython-39.pyc
controller/__pycache__/ProbabilidadController.cpython-39.pyc
.gitignore
view/__pycache__/probabilidad.cpython-39.pyc
